# 写好 .gitignore 是非常重要的，它可以避免许多常见的操作系统临时文件被提交到 git 仓库中。
# 另外也有非常多与开发过程有关的临时文件，也需要被过滤
# 比如常见的 node_modules 等等
# 我们的原则是：只有你写的代码才进入 git 仓库中。

# Cortex
.cortex/

# PHP files
index.php

# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err

# temp file for git conflict merging
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.tmp.html

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules/
jscoverage_lib/
